@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

// Todo Application css starts
.todo-application {
  // Content area wrapper border
  .content-area-wrapper,
  .content-wrapper {
    border: 1px solid $border-color;
    border-radius: $card-border-radius;

    // Sidebar area starts
    .sidebar {
      .todo-sidebar {
        width: $menu-expanded-width;
        height: inherit;
        display: flex;
        background-color: $white;
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
        transition: all 0.3s ease, background 0s;

        // Sidebar Menu
        .todo-app-menu {
          width: 100%;
          z-index: 3;
          .add-task {
            padding: 1.5rem;
          }

          // Sidebar menu list items
          .sidebar-menu-list {
            position: relative;
            height: calc(100% - 80px);
          }

          .list-group .list-group-item {
            padding: 0.58rem 1.5rem;
            border: 0;
            font-weight: $font-weight-bold;
            letter-spacing: 0.4px;
            border-left: 2px solid transparent;
            border-radius: 0;
            + .list-group-item.active {
              margin-top: 0;
            }
            &:hover,
            &:focus,
            &.active {
              background: transparent;
              color: $primary;
            }
            &.active {
              border-color: #a3db59;
            }
          }
        }
      }
    }
    // Sidebar area ends

    // Modal editor height
    .ql-editor {
      padding-bottom: 0;
    }

    // Right content area common css starts
    .content-right {
      width: calc(100% - #{$menu-expanded-width});
      border-left: 1px solid $border-color;
      .todo-app-list {
        height: inherit;
      }
      // Todo Fixed search
      .app-fixed-search {
        padding: 0.4215rem 0.5rem;
        border-bottom: 1px solid $border-color;
        background-color: $white;
        border-top-right-radius: $border-radius;
        .input-group:focus-within {
          box-shadow: none;
        }
        input,
        .input-group-text {
          border: 0;
          background-color: transparent;
        }
      }

      .todo-title {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
      .completed {
        .task__status__dd__toggle,
        .task__priority__dd__toggle,
        .avatar-content,
        .form-check-input,
        .avatar,
        .trash__icon {
          // opacity: 0.6 !important;
        }
        .todo-title {
          // color: $text-muted;
        }
        .subtask-todo-title-area {
          text-decoration: line-through;
        }
      }
      // ToDo task list area
      .todo-task-list-wrapper {
        overflow-y: auto;
        position: relative;
        height: calc(
          100% - 3.56rem
        ); // ? search box height (3.49rem) + 1px bottom border till 2 decimals
        background-color: $white;
        border-radius: 0;
        .todo-task-list {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            cursor: pointer;
            transition: all 0.2s, border-color 0s;
            position: relative;
            padding: 0.5rem 1rem;
            &:not(:first-child) {
              border-top: 1px solid $border-color;
            }
            &:hover {
              // transform: translateY(-4px);
              box-shadow: 0 3px 5px 0 $border-color;
              transition: all 0.2s;
            }
            .todo-title-wrapper {
              align-items: center;
              display: flex;
              justify-content: space-between;
              .todo__list_left {
                overflow: hidden;
                // HELLO
                // max-width: 44%;
                width:calc(100% - 550px);

                display: flex;
                align-items: center;
                .task-number{
                  width:60px !important;
                }
              }
              .date-wrapper {
                width: 40px;
              }
            }
            .todo-title-area,
            .title-wrapper {
              // display: flex;
              align-items: center;
            }
            .todo-title-area {
              overflow: hidden;
              // max-width: 85%;
              max-width:calc(100% - 110px);
              .todo-title {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              // overflow: hidden;
              // text-overflow: ellipsis;
              // white-space: nowrap;
            }
            .todo-detail {
              width: 100;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            // Todo Item Action
            .todo-item-action {
              // width:55%;
              width:550px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              // justify-content: space-between;
              // > small {
              //   margin-left: auto;
              // }
              a {
                cursor: pointer;
                font-size: 1.2rem;
                line-height: 1.5;
              }
            }

            .badge-wrapper {
              display: flex;
              .badge:not(:last-child) {
                margin-right: 0.5rem;
              }
            }
          }
        }
        // When we search, no-results
        .no-results {
          display: none;
          padding: 1.5rem;
          text-align: center;
          &.show {
            display: block;
          }
        }
      }
    }
  }

  // Drag & Drop Icon
  .todo-item {
    .dropdown-menu {
      opacity: 1 !important;
    }
    // padding: 0.em 2rem;
    width: 100%;
    .drag-icon {
      visibility: hidden;
      cursor: move;
      position: absolute;
      left: 0.2rem;
      width: 1.75rem;
      height: 4rem;
      padding: 0 5px;
    }
    &:hover {
      .drag-icon {
        visibility: visible;
      }
    }
  }

  // validation text style
  form .error:not(li):not(input) {
    color: $danger;
    font-size: 85%;
    margin-top: 0.25rem;
  }
}

// while dragging task
.gu-mirror {
  list-style-type: none;
  list-style: none;
  padding: 0.893rem 2rem;
  background-color: $white;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 10px 0 rgba($black, 0.25);
  .todo-title-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .todo-title-area,
  .title-wrapper {
    // display: flex;
    align-items: center;
  }
  // Todo Item Action
  .todo-item-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .todo-title {
    padding-left: 1rem;
  }
  &.completed {
    .todo-title {
      color: $text-muted;
    }
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@include media-breakpoint-down(lg) {
  .todo-application {
    .content-area-wrapper,
    .content-wrapper {
      .sidebar-left {
        .todo-sidebar {
          transform: translateX(-110%);
          transition: all 0.3s ease-in-out;
          left: 0;
          position: absolute;
          z-index: 5;
          border-top-left-radius: $border-radius-sm;
          border-bottom-left-radius: $border-radius-sm;
        }
        &.show {
          .todo-sidebar {
            transform: translateX(0%);
            transition: all 0.3s ease;
          }
        }
      }
      .content-right {
        width: 100%;
        border-left: 0;
        .app-fixed-search {
          border-top-left-radius: $border-radius;
        }
      }
      // ? Responsive Todo list in columns
      .todo-title-wrapper {
        flex-direction: column;
        .title-wrapper {
          margin-bottom: 0.5rem;
        }
        .todo-title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .badge-wrapper {
          margin-right: auto !important;
        }
      }
    }
  }
}
@media (max-width: 349.98px) {
  .todo-application .content-area-wrapper .sidebar .todo-sidebar {
    width: 230px;
  }
  .todo-application .content-wrapper .sidebar .todo-sidebar {
    width: 230px;
  }
}
.horizontal-menu
  .todo-application
  .content-area-wrapper
  .content-right
  .todo-task-list-wrapper {
  height: calc(
    100% - 3.6rem
  ); // ? search box height (48.79px + 1px border = 3.56), horizontal needs 1 decimal point
}
.horizontal-menu
  .todo-application
  .content-wrapper
  .content-right
  .todo-task-list-wrapper {
  height: calc(
    100% - 3.6rem
  ); // ? search box height (48.79px + 1px border = 3.56), horizontal needs 1 decimal point
}

.todo-task-list {
  .accordion-button::after {
    content: none;
  }
  .accordion-button:hover {
    z-index: unset;
  }
  .accordion-button {
    padding: 0 1rem;
  }
  .accordion-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 47px;
    padding-right: 0;
    background: #f6f6f6;
  }
  .task__status__dd__wp,
  .task__priority__dd__wp {
    .task__status__dd__toggle,
    .task__priority__dd__toggle {
      width: 100%;
      display: flex;
      align-items: center;
      border-color: transparent !important;
      padding: 0.3rem 0.5rem;
      border-radius: 50rem !important;
    }
    .task__status__dd__toggle {
      &::after {
        content: none;
      }
      span {
        display: block;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .task__priority__dd__toggle {
      &::after {
        content: none;
      }
      span {
        display: block;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .bg-light-info:focus,
    .bg-light-info:active,
    .bg-light-info.active {
      background-color: #e0f9fc !important;
    }
    .bg-light-danger:focus,
    .bg-light-danger:active,
    .bg-light-danger.active {
      background-color: #fceaea !important;
    }
    .bg-light-warning:focus,
    .bg-light-warning:active,
    .bg-light-warning.active {
      background-color: #fff3e8 !important;
    }
    .bg-light-success:focus,
    .bg-light-success:active,
    .bg-light-success.active {
      background-color: #e5f8ed !important;
    }
    .bg-light-primary:focus,
    .bg-light-primary:active,
    .bg-light-primary.active {
      background-color: #eeedfd !important;
    }
    .btn-group {
      padding: 0.25rem 1rem !important;
    }
    .dropdown-menu {
      min-width: 100% !important;
    }
    .dropdown-item {
      width: 100%;
      padding: 0.1rem 1rem;
      text-align: center;
    }
    .bg-light-danger {
      .caret {
        color: #ea5455;
      }
    }
    .bg-light-warning {
      .caret {
        color: #ff9f43;
      }
    }
    .bg-light-success {
      .caret {
        color: #28c76f;
      }
    }
    .bg-light-info {
      .caret {
        color: #00cfe8 !important;
      }
    }
    .bg-light-primary {
      .caret {
        color: #a3db59;
      }
    }
    .bg-light-primary {
      color: #a3db59 !important;
    }
    .bg-light-primary {
      background: rgba(33, 22, 145, 0.12) !important;
    }
    .dropdown-toggle::after {
      filter: invert(1);
    }
  }
  .task__priority__dd__wp,
  .task__status__dd__wp {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  .list__date__wp {
    min-width: 10%;
  }
  .task__delete__action {
    min-width: 10%;
  }
  .add__task__text {
    margin-left: 5px;
  }
}

.add__task__modal {
  textarea.form-control {
    &.task__name {
      min-height: 5.714rem;
    }
    padding: 0.5rem 1rem !important;
  }

  .modal-content {
    min-height: 90vh;
  }
  .task__detail__wp {
    textarea {
      min-height: 150px;
    }
  }
  .modal-title {
    width: 100%;
  }
}

.quick-add-wrapper {
  .task__input__field {
    width: 25%;
    padding-right: 5px;
  }
  .task__select__field_big {
    padding: 0 5px;
    width: 25%;
  }
  .task__select__field {
    padding: 0 5px;
    width: 23%;
  }
  .save__btn__wp {
    width: 4%;
  }
  .save__btn {
    margin-top: 6px;
  }
}

.search__task__input {
  &::placeholder {
    color: hsl(0, 0%, 20%);
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: hsl(0, 0%, 20%);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: hsl(0, 0%, 20%);
  }
}

.todo-sidebar {
  .list__item {
    .drag-icon {
      visibility: hidden;
      cursor: move;
      position: absolute;
      left: 0px;
      width: 1.75rem;
      padding: 0 5px;
    }
    &:hover {
      .drag-icon {
        visibility: visible;
      }
    }
  }
}

.task__select__field {
  .select__indicator {
    padding: 2px;
  }
  .custom___select__label {
    width: 80%;
  }
}

.contact__card__wrapper {
  .sidebar-menu-list {
    position: relative;
    height: calc(100% - 92px) !important;
  }
}

.add-or-update-contact-btn {
  margin-bottom: 45px;
}

.task__filter__dropdown {
  position: relative;
}
.task__filter__select__option {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task__filter__count {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}

.add__task__modal {
  .content-right {
    width: 100% !important;
    border-right: 1px solid #ebe9f1;
  }
  .add__btn_wrapper {
    border-bottom: 1px solid #ebe9f1;
  }
  .subtask-info {
    padding: 6px 0px;
    label {
      width: 15%;
    }
  }
  .accordion-body {
    position: relative;
    .subtask_edit__icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.sidebar-left {
  position: relative;
  width: 260px;
  transition: 0.3s;
  &.taskSideBarCollapse {
    transition: 0.5s;
    width: 80px;
    .list-group-item {
      .align-middle {
        display: none;
      }
    }
    .sidebar {
      overflow-x: hidden;
    }
    .sidebar__list__title__wp {
      justify-content: center;
      max-width: 23%;
    }
    .list-group-filters {
      .list-group-item {
        width: 35%;
        display: flex;
        justify-content: center;
      }
    }
    .add__task__btn {
      border-radius: 4px;
    }
  }
  .collapse__menu__icon__wp {
    z-index: 3;
    cursor: pointer;
    border-radius: 50%;
    background-color: #a3db59;
    position: absolute;
    top: 28px;
    right: -10px;
  }
}

.content-right {
  transition: 0.3s;
  &.taskSideBarCollapse {
    width: calc(100% - 80px) !important;
  }
}

.todo__list__header {
  background-color: #ebebeb;
  .sort__icon {
    padding: 1px;
    border-radius: 5px;
  }
}

